
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .container {
    flex-basis: 80%;

    .list-table {
      background: white;

      &__header {
        background: #934dd6;
        color: white;
        font-size: 20px;
      }

      &__row {
        &.notFound {
          padding: 20px;
          text-align: center;
        }

        display: flex;
        flex-wrap: nowrap;
        flex-flow: row;

        @media (max-width: 850px) {
          flex-wrap: wrap;
          &:nth-child(2n) {
            background: #f5f5f5;
          }
          & > * {
            flex-basis: 33.33%;
            width: auto !important;
            margin: 0;
            box-sizing: border-box;
            text-align: left !important;
          }
          .name {
            flex-basis: 100%;
          }
        }

        & > * {
          flex-grow: 0;
          flex-shrink: 0;
          padding: 10px;
          text-align: center;
          position: relative;
        }

        .name {
          text-align: left;
          flex-grow: 1;
          flex-shrink: 1;
          font-size: 20px;

          .poster {
            width: 92px;
            float: left;
            margin-right: 10px;
          }

          .overview {
            font-size: 16px;
            font-weight: 300;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }

          .badge {
            font-size: 16px;
            background: #828282;
            display: inline-block;
            border-radius: 15px;
            padding: 2px 10px;
            margin: 0 10px 10px 0;
            color: white;
            &.western {
              background: #ff43d8
            }

            &.drama {
              background: #b9e130
            }

            &.crime {
              background: #13ad15
            }

            &.animation {
              background: #4e44ff
            }

            &.mistery {
              background: #2f9685
            }

            &.comedy {
              background: #96291e
            }

            &.family {
              background: #1d8496
            }

            &.war_politics {
              background: #b69431
            }

            &.action_adventure {
              background: #23960d
            }

            &.unknown {
              display: none;
            }
          }
        }

        .score {
          width: 80px;
        }

        .country {
          width: 60px;
        }

        .date {
          width: 120px;
        }

      }
    }
  }
}
