<div class="total">Found {{total}} shows</div>

<div class="paginator" *ngIf="total > 0">
  <div class="left"
       (click)="setPage(page - 1)"
       [class.disabled]="page === 1">&lt;</div>
  <div class="page" *ngFor="let n of pages"
       [class.selected]="page === n"
       (click)="setPage(n)">{{n}}</div>
  <div class="right"
       (click)="setPage(page + 1)"
       [class.disabled]="page === maxPage ">&gt;</div>
</div>

<div class="onPage">
  <div class="onPage"
       *ngFor="let num of onPageItems"
       [class.selected]="onPage === num"
       (click)="setOnPage(num)">
    {{num}}
  </div>
</div>
