<ng-container *ngIf="paginator">
  <div class="total">Found {{paginator.total}} movies</div>
  <div class="pagination">
    <div class="back"
         [class.disabled]="paginator.page === 1"
         (click)="setPage(paginator.page - 1)">&lt;
    </div>
    <div
      *ngFor="let page of pages"
      [class.selected]="paginator.page === page"
      (click)="setPage(page)">{{page}}</div>
    <div class="back"
         [class.disabled]="paginator.page === paginator.maxPage"
         (click)="setPage(paginator.page + 1)">&gt;
    </div>
  </div>
  <div class="onPage">
    <div *ngFor="let limit of onPage"
         [class.selected]="paginator.limit === limit"
         (click)="setLimit(limit)">{{limit}}</div>
  </div>
</ng-container>
